<div class="Educación">
    <div class="card">
        <div class="card-header">
            <h4>
                Habilidades
            </h4>   
            <i class="bi bi-pencil-square"></i>   
        </div>  
        <div class="card-body">
            <div class="row">
                <div class="col-xs-6 col-3">
                    <circle-progress
                        [percent]="60"
                        [radius]="85"
                        [title]="'Html 60'"
                        [showUnits]="false"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="6"
                        [outerStrokeColor]="'#4CC9F0'"
                        [innerStrokeColor]="'#03045E'"
                        [animation]="true"
                        [animationDuration]="700"
                    ></circle-progress>
                </div>
                <div class="col-xs-6 col-3">
                    <circle-progress
                        [percent]="40"
                        [radius]="85"
                        [title]="'CSS 40'"
                        [showUnits]="false"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="6"
                        [outerStrokeColor]="'#4CC9F0'"
                        [innerStrokeColor]="'#03045E'"
                        [animation]="true"
                        [animationDuration]="700"
                    ></circle-progress>
                </div>
                <div class="col-xs-6 col-3">
                    <circle-progress
                        [percent]="88"
                        [radius]="85"
                        [title]="'Proactivo 88'"
                        [showUnits]="false"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="6"
                        [outerStrokeColor]="'#4CC9F0'"
                        [innerStrokeColor]="'#03045E'"
                        [animation]="true"
                        [animationDuration]="700"
                    ></circle-progress>
                </div>
                <div class="col-xs-6 col-3">
                    <circle-progress
                        [percent]="45"
                        [radius]="85"
                        [title]="'GitHub 45'"
                        [showUnits]="false"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="6"
                        [outerStrokeColor]="'#4CC9F0'"
                        [innerStrokeColor]="'#03045E'"
                        [animation]="true"
                        [animationDuration]="700"
                    ></circle-progress>
                </div>
                <div class="col-xs-6 col-3">
                    <circle-progress
                        [percent]="50"
                        [radius]="85"
                        [title]="'JS 50'"
                        [showUnits]="false"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="6"
                        [outerStrokeColor]="'#4CC9F0'"
                        [innerStrokeColor]="'#03045E'"
                        [animation]="true"
                        [animationDuration]="700"
                    ></circle-progress>
                </div>
                <div class="col-xs-6 col-3">
                    <circle-progress
                        [percent]="95"
                        [radius]="85"
                        [title]="'T. Equipo 95'"
                        [showUnits]="false"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="6"
                        [outerStrokeColor]="'#4CC9F0'"
                        [innerStrokeColor]="'#03045E'"
                        [animation]="true"
                        [animationDuration]="700"
                    ></circle-progress>
                </div>
                <div class="col-xs-6 col-3">
                    <circle-progress
                        [percent]="35"
                        [radius]="85"
                        [title]="'Ingles 35'"
                        [showUnits]="false"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="6"
                        [outerStrokeColor]="'#4CC9F0'"
                        [innerStrokeColor]="'#03045E'"
                        [animation]="true"
                        [animationDuration]="700"
                    ></circle-progress>
                </div>                             
                             
            </div>            
        </div>
    </div>    
</div>
