#banner {
    display: flex;
    background-image: url(../../../assets/img-teclado-propia.jpg);
    
}

.col-8{
    padding: 36px;
}

.col-4 {
    display: flex;
    justify-content: center;
}
#fotoperfil {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 58%;
    height: auto;
    border-radius: 50%;
} 

#presentacion {
    text-align: start;
}

h3, p {
    margin: 0%;
    color: white;
}

.row {
    --bs-gutter-x: 0rem;
}