<div class="acercaDeMi">
    <div class="card">
        <div class="card-header">
            <h4>
                Experiencia
            </h4>   
            <i class="bi bi-pencil-square"></i>   
        </div>  
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    1
                </div>
                <div class="col-11">
                    <ul>
                        <li><h5>Socio/Encargado comercio</h5></li>
                        <span><strong>"Las Delicias" · Autónomo". 2020 - sept. 2022</strong></span><br>
                        <span>2 años 9 meses.</span><br>
                        <span>Granada, Andalucía, España · PresencialGranada, Andalucía, España·</span><br>
                        <span>Emprendimiento familiar en el rubro alimenticio.</span>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    2
                </div>
                <div class="col-11">
                    <ul>
                        <li><h5>Jefe de depósitoJefe de depósito</h5></li>
                        <span><strong>Industrias Cormetal · Jornada completa. nov. 2018 - dic. 2019·</strong></span><br>
                        <span>1 año 2 meses</span><br>
                        <span>Villa María, Córdoba, Argentina</span><br>
                        <span>Supervisión de la operativa general del depósito de materiales siderúrgicos, con equipo de 15 personas diagramando jornadas diarias</span>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    3
                </div>
                <div class="col-11">
                    <ul>
                        <li><h5>Jefe de Logistica - Supervisor de Transporte - Auditor de carga</h5></li>
                        <span><strong>"Las Delicias" · Autónomo". 2020 - sept. 2022</strong></span><br>
                        <span>2 años 9 meses.</span><br>
                        <span>Granada, Andalucía, España · PresencialGranada, Andalucía, España·</span><br>
                        <span>Emprendimiento familiar en el rubro alimenticio.</span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
