<h1>Iniciar sesión</h1>
<form [formGroup]="form">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" formControlName="email" 
      [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid':!Email?.errors && Email?.touched}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="Email?.errors && Email?.touched">
          <p *ngIf="Email?.hasError ('required')" class="text-danger">
            Es necesario ingresar un email.
          </p>
          <p *ngIf="Email?.hasError('email')" Class="text-danger">
            El formato del email debe ser valido.
          </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" formControlName="password" 
      [ngClass]="{'is-invalid': Password?.errors && Password?.touched,'is-valid': !Password?.errors && Password?.touched}" class="form-control" id="exampleInputPassword1">
    </div>
    <div *ngIf="Password?.errors && Password?.touched">
          <p *ngIf="Password?.hasError ('required')" class="text-danger" >
            Es necesario ingresar una contraseña
          </p>
          <p *ngIf="Password?.hasError ('password')" class="text-danger">
              La contraseña debe tener 8 caracteres como mínimo.
          </p>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>