* {
    background-color: rgb(93, 76, 217);
}
#logo {
    margin: 5px;
    width: 280px;
    height: auto;
}

a {
    margin: 15px;
    font-size: xx-large;    
    color: white;
    display: block;
    text-align: center;
}

a:hover {
    color: blue;
}
    
