* {
    background-color: rgb(93, 76, 217);   
    display: flex;
    align-items: center;
}

#logo {
    margin: 5px;
    width: 280px;
    height: auto;
}

a {
    margin: 15px;
    font-size: xx-large;    
    color: white;
    display: block;
    text-align: center;
}

a:hover {
    color: blue;
}

.btn-outline-light {
    color: rgb(93, 76, 217);
    background-color: white;
    font-weight: bolder;

}

    
.btn-outline-light:hover {
    color: white;
    background-color: blue;
    border-color: white;
}